$icomoon-font-family: "amway-dashboard-icon" !default;
$icomoon-font-path: "../fonts" !default;
$icon-down: "\e900";
$icon-clock: "\e901";
$icon-phone: "\e902";
$icon-square: "\e903";
$icon-user: "\e904";
$icon-search: "\e905";
$icon-cart: "\e906";
$icon-x: "\e907";
$icon-gotop: "\e908";
$icon-close: "\e909";
$dark-blue: #38539A;
$blue: #3D71C0;
$dark-green: #396E75;
$green: #32B5A4;
$purple: #9768BF;
$dark-orange: #D8871E;
$orange: #EF9D00;
$red: #E662AD;
$gray-bg: #FAFAFA;
$gray-100: #F2F2F2;
$gray-200: #bfbfbf;
$gray-500: #808080;
$black: #4D4D4D;
$white: #fff;
$fz: 1.375,
1.125,
1,
0.875;
$number: 10,
20,
30,
40,
50,
50;