form.login-form {
    label {
        display: block;
        input {
            display: block;
            width: 100%;
            padding: 15px 15px 15px 55px;
            border: solid $gray;
            border-width: 0 0 1px;
            @include background-size(25px);
            background-position: 15px center;
            background-repeat: no-repeat;
            @include border-radius(0);
            outline: 0;
        }
        &.userid {
            input {
                background-image: url('../images/id.svg');
            }
        }
        &.password {
            input {
                background-image: url('../images/lock.svg');
            }
        }
    }
}
