header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: $white;
    background-color: $blue;
    z-index: 5;
    .display-flex {
        align-items: center;
        justify-content: space-between;
    }
    img {
        width: 2rem;
    }
    .user-name {
        > * {
            display: inline-block;
            vertical-align: middle;
        }
        img {
            width: 1.5rem;
        }
        div {
            padding-top: 2px;
        }
    }
    .user-number {
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid $white;
    }
}

.blank {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    &.opened {
        z-index: 5;
    }
}