.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($black, 0.5);
    z-index: 1;
    .container, .row {
        height: 100%;
        align-items: center;
    }
    .modal-body {
        height: 25vh;
        overflow: scroll;
        @media screen and (min-height: 720px) {
            height: 300px;
        }
        ol {
            list-style: none;
            padding-left: 2.5em;
            li {
                position: relative;
                &::before {
                    @include beforeafter(attr(data-list), inline-block);
                    position: absolute;
                    top: 0;
                    right: calc(100% + 0.35em);
                }
            }
        }
        > ol {
            padding-left: 2em;
            > li {
                &::before {
                    right: calc(100% + 0.6em);
                }
            }
        }
    }
    .modal-footer {
        input#readNagree.highlight {
            border: 1px solid $red;
            outline: 0;
            + label {
                color: $red;
            }
        }
    }
}