$colors: () !default;
$colors: map-merge((
	"light-green": ($lightgreen),
	"green": ($green),
	"light-blue": ($lightblue),
	"blue": ($blue),
	"darkblue": ($darkblue),
	"light-orange": ($lightorange),
	"orange": ($orange),
	"white": ($white),
	"gray": ($gray),
	"dark": ($dark),
	"black": ($black)
), $colors);
$typo: $h1, $h2, $h3, $h4, $h5, $h6;
$typo-m: $h1-m, $h2-m, $h3-m, $h4-m, $h5-m, $h6-m;
$weight: 100, 300, 400, 500;
@for $i from 1 through length($typo) {
	h#{$i}, .h#{$i} {
		margin-top: 1em;
		margin-bottom: 1em;
		font-size: #{nth($typo-m, $i)};
		@include breakpoint(1024px) {
			font-size: #{nth($typo, $i)};
		}
	}
}
@for $i from 1 through length($weight) {
	.font-weight-#{nth($weight, $i)} {
		font-weight: #{nth($weight, $i)};
	}
}
@each $color, $value in $colors {
	.color-#{$color} {
		color: $value;
	}
}
