@import "_mixin";
@import "_variable";
@import "_common";
@import "_container";
@import "_typography";
// @import "_font";
@import "_button";
@import "_embed";
@import "_header";
@import "_footer";

section {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    @include background-size(cover);
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (min-width: 1024px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    &.overflow-hidden {
        overflow: hidden;
    }
    &.opening {
        position: relative;
        min-height: calc(100vh - 4.5rem);
        background-image: url('../images/opening-bg@2x.png');
        @include background-size(cover);
        background-position: center;
        background-repeat: no-repeat;
        @media screen and (min-width: 1024px) {
            min-height: calc(100vh - 5.3rem);
        }
        @media screen and (min-width: 1200px) {
            min-height: calc(100vh - 5.55rem);
        }
        @media screen and (orientation: portrait) {
            background-image: url('../images/opening-bg-m@2x.png');
        }
        &.opening-ie {
            overflow-x: hidden;
        }
        .container {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            @include translateX(-50%);
            .row {
                height: 100%;
                align-items: center;
            }
            h1 {
                @include breakpoint(max-width 767px) {
                    font-size: 3.375rem;
                }
            }
            h3 {
                @include breakpoint(max-width 767px) {
                    font-size: 1.6875rem;
                }
            }
        }
    }
    > .container-fluid {
        @include background-size(cover);
        background-position: center;
        background-repeat: no-repeat;
    }
    .row {
        position: relative;
        &.align-center {
            align-items: center;
        }
        &.row-md-reverse {
            @include breakpoint(1024px) {
                flex-direction: row-reverse;
            }
        }
        > .container {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .row-grid {
        display: grid;
        grid-template-columns: 4fr 3fr;
        @include breakpoint(1024px) {
            grid-gap: 0 20px;
            grid-template-columns: 1fr 1fr;
        }
        .grid-text {
            @include breakpoint(max-width 1023px) {
                display: none;
            }
        }
        .grid-img {
            @include breakpoint(1024px) {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .grid-right {
            position: relative;
            img {
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
        &.row-ie {
            display: flex;
            .grid-left {
                width: 57.142857%;
            }
            .grid-right {
                width: 42.857143%;
            }
        }
    }
    .title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        > svg {
            display: block;
            @include breakpoint(max-width 1023px) {
                width: 1.75rem;
                height: 1.75rem;
            }
        }
        > span {
            position: relative;
            display: inline-block;
            @include breakpoint(max-width 1023px) {
                width: calc(100% - 1.75rem - 10px);
            }    
            .highlight-bg {
                display: inline-block;
                background-repeat: no-repeat;
                background-position: 0% 100%;
                background-size: 100% 0.75em;
                @include breakpoint(1280px) {
                    display: inline;
                }
            }
        }
        &.title-justify-center {
            justify-content: center;
        }
        &.title-green {
            svg path {
                fill: $green;
            }
            > span {
                color: $green;
                .highlight-bg {
                    background-image: linear-gradient($lightgreen, $lightgreen);
                }
            }
        }
        &.title-orange {
            svg path {
                fill: $orange;
            }
            > span {
                color: $orange;
                .highlight-bg {
                    background-image: linear-gradient($lightorange, $lightorange);
                }
            }
        }
        &.title-blue {
            svg path {
                fill: $blue;
            }
            > span {
                color: $blue;
                .highlight-bg {
                    background-image: linear-gradient($lightblue, $lightblue);
                }
            }
        }
        + .h4 > span {
            @include breakpoint(max-width 1023px) {
                display: block;
            }
        }
    }
    .col-title {
        @include breakpoint(max-width 1023px) {
            display: grid;
            grid-gap: 0 20px;
            grid-template-columns: 40px auto 1.875rem;
            align-items: start;
            + p {
                display: none;
            }
        }
        .h3 {
            @include breakpoint(max-width 1023px) {
                font-size: $h4;
            }
        }
        .plus-more {
            @include breakpoint(1024px) {
                display: none;
            }
        }
    }
    .highlight {
        position: relative;
        display: inline-block;
        font-size: $h3-m;
        text-shadow: 0 5px 10px rgba($black, 0.15);
		@include breakpoint(1024px) {
            font-size: 6rem;
        }
		@include breakpoint(1280px) {
            font-size: 10rem;
        }
        &::before {
            @include beforeafter('', block);
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 0.45em;
            background-color: $lightgreen;
            @include translateY(-50%);
        }
        i {
            position: relative;
            z-index: 1;
            @include breakpoint(max-width 1023px) {
                font-style: normal;
            }
        }
    }
    img.chia-seed {
        position: absolute;
        width: 360px;
        bottom: 0;
        left: 0;
        @include translate(-50%, 50%);
        z-index: -1;
        @include breakpoint(max-width 1279px) {
            display: none;
        }
    }
    .ingredient {
        position: absolute;
        width: 500px;
        padding-top: (500px * 74 / 100);
        background-image: url('../images/ingredient@3x.png');
        @include background-size(cover);
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        @include breakpoint(max-width 1279px) {
            display: none;
        }
        &.ingredient-1 {
            top: 0;
            left: 0;
            @include transform(translate(-53.5%, -16.5%) rotate(20deg));
        }
        &.ingredient-2 {
            bottom: (500px * 74 / 100 / 12);
            right: 0;
            @include transform(translateX(52.5%) rotate(-20deg));
        }
    }
    .jelly-bg {
        @include background-size(contain);
        background-position: center;
        background-repeat: no-repeat;
        @include breakpoint(1024px) {
            background-image: url('../images/jelly-bg@3x.png');
        }
    }
    .mousse-bg {
        @include background-size(contain);
        background-position: center;
        background-repeat: no-repeat;
        @include breakpoint(1024px) {
            background-image: url('../images/mousse-bg@3x.png');
        }
    }
    .plus-more {
        position: relative;
        width: 1.875rem;
        height: 1.875rem;
        &::before, &::after {
            @include beforeafter('', block);
            position: absolute;
            top: 50%;
            left: 50%;
            transform-origin: top;                    
            @include transition(transform 0.3s);
            @include translate(-50%, -50%);
        }
        &::before {
            width: 1.125rem;
            height: 2px;
        }
        &::after {
            width: 2px;
            height: 1.125rem;
        }
        &.plus-more-green {
            &::before, &::after {
                background-color: $green;
            }
        }
        &.plus-more-blue {
            &::before, &::after {
                background-color: $blue;
            }
        }
        &.plus-more-orange {
            &::before, &::after {
                background-color: $orange;
            }
        }
        &.opened::after {
            @include transform(rotate(90deg) translateY(-50%));
        }
    }
    .product-item {
        display: flex;
        @include breakpoint(1024px) {
            flex-direction: column;
        }
        @include breakpoint(max-width 1023px) {
            align-items: flex-start;
        }
        &.border-1 {
            @include breakpoint(1024px) {
                border-left: 1px solid rgba($gray, 0.15);
            }
            @include breakpoint(max-width 1023px) {
                border: 3px dashed rgba($dark, 0.15)
            }
        }
        .label {
            display: inline-block;
            color: $white;
            background-color: $orange;
            @include border-radius(4px);
        }
        .product-top {
            position: relative;
            @include breakpoint(max-width 413px) {
                width: 160px;
            }
            .label {
                position: absolute;
                bottom: 0;
                right: 0;
                font-size: 0.875rem;
                @include breakpoint(1024px) {
                    display: none;
                }
            }
        }
        .product-title {
            position: relative;
            .label {
                position: relative;
                top: -0.125em;
                margin-top: 5px;
                @include breakpoint(max-width 1023px) {
                    display: none;
                }
            }
        }
        .product-body {
            position: relative;
            @include breakpoint(1024px) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }
        }
        .product-center > .h5 {
            position: relative;
        }
        .plus-more {
            @include breakpoint(1024px) {
                display: none;
                position: relative;
            }
            @include breakpoint(max-width 1023px) {
                position: absolute;
                top: 0;
                left: 100%;
            }
        }
        .product-cc {
            @include opacity(0.5);
        }
        @include breakpoint(max-width 1023px) {
            .product-center > p,
            .product-bottom {
                display: none;
            }    
        }
    }
    &.trailer {
        background-color: $lightorange;
        p > span {
            display: block;
            > span {
                display: inline-block;
            }
        }
    }
    &#phyto {
        @media screen and (max-width: 1023px) {
            .h3 {
                font-size: $h4;
            }
        }
    } 
    &#force {
        .col-md-4 {
            + .col-md-4 {
                @media screen and (max-width: 1023px) {
                    border-top: 1px solid rgba($dark, 0.15);
                }
            }
        }
    }
    &.accordion-section  {
        .title {
            > .plus-more {
                @include breakpoint(1024px) {
                    display: none;
                }
            }
            @include breakpoint(max-width 1023px) {
                position: relative;
                padding-right: 1.875rem;
                align-items: center;
                > .h3 {
                    font-size: $h4;
                }
                > svg {
                    width: 1.75rem;
                    height: 1.75rem;
                }
                > .plus-more {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    @include translateY(-50%);
                }
            }
        }
    }
}
.chart {
    @media screen and (max-width: 1023px) and (min-width: 768px) {
        padding-left: 60px;
        padding-right: 60px;
    }
    .chart-title {
        display: table;
        margin-left: auto;
        margin-right: auto;
        color: $white;
        background-color: $blue;
        @include border-radius(50px);
        @include translateY(50%);
        @media screen and (min-width: 1024px) {
            padding: 15px 70px;
        }
        @media screen and (max-width: 1023px) {
            padding: 15px 50px;
            font-size: 1rem;
        }
    }
    .chart-img {
        padding: 20px 30px;
        background-color: $white;
        box-shadow: 0 0 20px rgba($black, 0.15);
    }
    &.chart-dark {
        .chart-title {
            background-color: $darkblue;
        }
    }
}

.texture-show {
    position: relative;
    &::before, &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
    &::before {
        background-color: $lightorange;
    }
    &::after {
        background-position: center;
        @include background-size(cover);
        background-repeat: no-repeat;
        @include opacity(0.2);
    }
    @include breakpoint(1024px) {
        &.texture-d-show::before, &.texture-d-show::after {
            @include beforeafter('', block);
            top: 50%;
        }
        &.texture-d-show::after {
            background-image: url('../images/texture@2x.png');
        }
    }
    @include breakpoint(max-width 1023px) {
        &.texture-m-show::before, &.texture-m-show::after {
            @include beforeafter('', block);
            top: 30%;
        }
        &.texture-m-show::after {
            background-image: url('../images/texture@2x.png');
        }
    }
}

.db-column {
    .db-column-img {
        @include background-size(cover);
        background-position: top center;
        background-repeat: no-repeat;
    }
    .db-column-txt {
        padding: 40px 20px;
        @include breakpoint(768px) {
            padding: 100px 20px;
        }
        @include breakpoint(1280px) {
            padding: 130px 50px;
        }
        .h2 {
            @include breakpoint(max-width 767px) {
                font-size: $h4;
            }
        }
        .h3 {
            @include breakpoint(max-width 767px) {
                font-size: $h5-m;
            }
        }
        p {
            @include breakpoint(max-width 767px) {
                font-size: $h6-m;
            }
        }
        .h2, p {
            span {
                @include breakpoint(1024px) {
                    display: inline-block;
                }
            }
        }
    }
    &.db-column-green {
        .db-column-img {
            background-image: url('../images/section-left-d-1@2x.png');
            @include breakpoint(max-width 1023px) {
                background-image: url('../images/section-left-m-1@3x.png');
            }
        }
        .db-column-txt {
            background-color: $lightgreen;
        }
    }
    &.db-column-blue {
        .db-column-img {
            background-image: url('../images/section-left-d-2@2x.png');
            @include breakpoint(max-width 1023px) {
                background-image: url('../images/section-left-m-2@3x.png');
            }
        }
        .db-column-txt {
            background-color: $lightblue;
        }
    }
}

a.gotop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    color: $white;
    z-index: 2;
    img {
        display: block;
        width: 75px;
        @media screen and (min-width: 1024px) {
            width: 95px;
        }
        &.hover {
            position: absolute;
            top: 0;
            left: 0;
            @include opacity(0);
            @include transition(opacity 0.2s);
            z-index: -1;
        }
    }
    &:hover {
        img.hover {
            @include opacity(1);
        }
    }
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 0.125em;
        @include translate(-50%, -50%);
        @media screen and (min-width: 1024px) {
            margin-top: 0.25em;
        }
    }
}